<p-toast></p-toast>
<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple label="返回" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew3()"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
    </ng-template>
</p-toolbar>
<div class="card p-fluid">
    <h5>Horizontal</h5>
    <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" type="text" />
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
        <div class="col-12 md:col-10">
            <input pInputText id="email3" type="text" />
        </div>
    </div>
</div>