<p-toast></p-toast>
<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple label="返回" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew3()"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
    </ng-template>
</p-toolbar>
<div class="card p-fluid">
    <h5>Horizontal</h5>
    <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" type="text" />
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
        <div class="col-12 md:col-10">
            <input pInputText id="email3" type="text" />
        </div>
    </div>
</div>

<!-------------------------------->

<div class="card">
    <h5>Advanced</h5>
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="firstname6">Firstname</label>
            <input pInputText id="firstname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Lastname</label>
            <input pInputText id="lastname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12">
            <label for="address">Address</label>
            <textarea pInputText id="address" type="text" rows="4" class="inputfield w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="city">City</label>
            <input pInputText id="city" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="state">State</label>
            <select pInputText id="state" class="w-full inputfield" style="appearance: auto">
                <option>Arizona</option>
                <option>California</option>
                <option>Florida</option>
                <option>Ohio</option>
                <option>Washington</option>
            </select>
        </div>
        <div class="field col-12 md:col-3">
            <label for="zip">Zip</label>
            <input pInputText id="zip" type="text" class="inputfield w-full">
        </div>
    </div>
</div>

<!-------------------------------->

<div class="card">
    <h5>Advanced</h5>
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="firstname6">Firstname</label>
            <input pInputText id="firstname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Lastname</label>
            <input pInputText id="lastname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12">
            <label for="address">Address</label>
            <textarea pInputText id="address" type="text" rows="4" class="inputfield w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="city">City</label>
            <input pInputText id="city" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="state">State</label>
            <select pInputText id="state" class="w-full inputfield" style="appearance: auto">
                <option>Arizona</option>
                <option>California</option>
                <option>Florida</option>
                <option>Ohio</option>
                <option>Washington</option>
            </select>
        </div>
        <div class="field col-12 md:col-3">
            <label for="zip">Zip</label>
            <input pInputText id="zip" type="text" class="inputfield w-full">
        </div>
    </div>
</div>