<p-toast></p-toast>
<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <div class="my-2">
            <button pButton pRipple label="返回" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew3()"></button>
        </div>
    </ng-template>

    <ng-template pTemplate="right">
        <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
        <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
    </ng-template>
</p-toolbar>

<!-------------------------------->
<!--
    重點是父層 有 grid
        子層 有 col-2  col-10  加總 12

    flex justify-content-end  讓 label 靠右    
-->
<div class="card">
    <form [formGroup]="userDetailForm">
        <h5>Advanced</h5>
        <div class="formgrid grid">
            <div class="field col-6 grid">
                <label htmlFor="name3" class="col-2 mb-0 flex justify-content-start">帳號</label>
                <div class="col-10">
                    <input pInputText id="name3" type="text" class="inputfield w-full"/>
                </div>
            </div>
            <div class="field col-6 grid">
                <label htmlFor="email3" class="col-2 mb-0 flex justify-content-center">姓名</label>
                <div class="col-10">
                    <input pInputText id="email3" type="text" class="inputfield w-full"/>
                </div>
            </div>    
            <div class="field col-6 grid">
                <label htmlFor="name3" class="col-2 mb-0 flex justify-content-start">暱稱</label>
                <div class="col-10">
                    <input pInputText id="name3" type="text" class="inputfield w-full"/>
                </div>
            </div>
            <div class="field col-6 grid">
                <label htmlFor="email3" class="col-2 mb-0 flex justify-content-center">性別</label>
                <div class="col-10 flex justify-content-start">
                    <!-- <p-radioButton name="myRadio" value="Option 1" label="男" formControlName="myRadio" inputId="opt1"></p-radioButton>
                    <p-radioButton name="myRadio" value="Option 2" label="女" formControlName="myRadio" inputId="opt2"></p-radioButton> -->
                    <!-- <p-radioButton name="myRadio" value="Option 1" label="男" formControlName="myRadio" inputId="opt1"></p-radioButton>
                    <p-radioButton name="myRadio" value="Option 2" label="女" formControlName="myRadio" inputId="opt2"></p-radioButton> -->
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6" style="margin-bottom: 0">
                            <p-radioButton id="category1" name="myRadio" value="Accessories" formControlName="myRadio"></p-radioButton>
                            <label for="category1">男</label>
                        </div>
                        <div class="field-radiobutton col-6" style="margin-bottom: 0">
                            <p-radioButton id="category2" name="myRadio" value="Clothing" formControlName="myRadio"></p-radioButton>
                            <label for="category2">女</label>
                        </div>
                    </div>    
                </div>
            </div>   
            <div class="field col-6 grid">
                <label htmlFor="name3" class="col-2 mb-0 flex justify-content-start">手機號碼</label>
                <div class="col-10">
                    <input pInputText id="name3" type="text" class="inputfield w-full"/>
                </div>
            </div>
            <div class="field col-6 grid">
                <label htmlFor="email3" class="col-2 mb-0 flex justify-content-center">Line ID</label>
                <div class="col-10">
                    <input pInputText id="email3" type="text" class="inputfield w-full"/>
                </div>
            </div>    
            <div class="field col-6 grid">
                <label htmlFor="name3" class="col-2 mb-0 flex justify-content-start">Email</label>
                <div class="col-10">
                    <input pInputText id="name3" type="text" class="inputfield w-full"/>
                </div>
            </div>
            <div class="field col-6 grid">
                <label htmlFor="email3" class="col-2 mb-0 flex justify-content-center">生日</label>
                <div class="col-10">
                    <input pInputText id="email3" type="text" class="inputfield w-full"/>
                </div>
            </div>
            <div class="field col-12 grid">
                <label htmlFor="email3" class="col-1 mb-0 flex justify-content-start">選項</label>
                <div class="col-11">
                    <input pInputText id="email3" type="text" class="inputfield w-full"/>
                </div>
            </div>
            <div class="field col-12 grid">
                <label htmlFor="email3" class="col-1 mb-0 flex justify-content-start">公司/單位</label>
                <div class="col-11">
                    <input pInputText id="email3" type="text" class="inputfield w-full"/>
                </div>
            </div>
            <div class="field col-12 grid">
                <label htmlFor="email3" class="col-1 mb-0 flex justify-content-start">角色</label>
                <div class="col-11">
                    <input pInputText id="email3" type="text" class="inputfield w-full"/>
                </div>
            </div>
            <div class="field col-12 grid">
                <label htmlFor="email3" class="col-1 mb-0 flex justify-content-start">備註</label>
                <div class="col-11">
                    <input pInputText id="email3" type="text" class="inputfield w-full"/>
                </div>
            </div>
        </div>
    </form>
</div>

<!-------------------------------->
<!--
<div class="card p-fluid">
    <h5>Horizontal</h5>
    <div class="field grid">
        <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
        <div class="col-12 md:col-10">
            <input pInputText id="name3" type="text" />
        </div>
    </div>
    <div class="field grid">
        <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
        <div class="col-12 md:col-10">
            <input pInputText id="email3" type="text" />
        </div>
    </div>
</div>
-->
<!-------------------------------->
<!--
    重點是父層 有 grid
        子層 有 col-2  col-10  加總 12

    flex justify-content-end  讓 label 靠右    
-->
<!--
<div class="card">
    <h5>Advanced</h5>
    <div class="formgrid grid">
        <div class="field col-6 grid">
            <label htmlFor="name3" class="col-2 mb-0 flex justify-content-start">Name 1/2</label>
            <div class="col-10">
                <input pInputText id="name3" type="text" class="inputfield w-full"/>
            </div>
        </div>
        <div class="field col-6 grid">
            <label htmlFor="email3" class="col-2 mb-0 flex justify-content-center">Email 2/2</label>
            <div class="col-10">
                <input pInputText id="email3" type="text" class="inputfield w-full"/>
            </div>
        </div>    
        <div class="field col-12 md:col-4 grid">
            <label htmlFor="name3" class="col-2 mb-0 flex justify-content-start">Name 1/3</label>
            <div class="col-12 md:col-10">
                <input pInputText id="name3" type="text" class="inputfield w-full"/>
            </div>
        </div>
        <div class="field col-4 grid">
            <label htmlFor="email3" class="col-2 mb-0 flex justify-content-center">Email 2/3</label>
            <div class="col-12 md:col-10">
                <input pInputText id="email3" type="text" class="inputfield w-full"/>
            </div>
        </div>  
        <div class="field col-4 grid">
            <label htmlFor="emailA" class="col-2 mb-0 flex justify-content-center">AAA 3/3</label>
            <div class="col-12 md:col-10">
                <input pInputText id="emailA" type="text" class="inputfield w-full"/>
            </div>
        </div> 
        <div class="field col-3 grid">
            <label htmlFor="email3" class="col-2 mb-0 flex justify-content-start">Email 1/4</label>
            <div class="col-10">
                <input pInputText id="email3" type="text" class="inputfield w-full"/>
            </div>
        </div>    
        <div class="field col-3 grid">
            <label htmlFor="name3" class="col-2 mb-0 flex justify-content-center">Name 2/4</label>
            <div class="col-10">
                <input pInputText id="name3" type="text" class="inputfield w-full"/>
            </div>
        </div>
        <div class="field col-3 grid">
            <label htmlFor="email3" class="col-2 mb-0 flex justify-content-center">Email 3/4</label>
            <div class="col-10">
                <input pInputText id="email3" type="text" class="inputfield w-full"/>
            </div>
        </div>  
        <div class="field col-12 md:col-3 grid">
            <label htmlFor="emailA" class="col-2 mb-0 flex justify-content-center">AAA 4/4</label>
            <div class="col-12 md:col-10">
                <input pInputText id="emailA" type="text" class="inputfield w-full"/>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">Firstname</label>
            <input pInputText id="firstname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Lastname</label>
            <input pInputText id="lastname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12">
            <label for="address">Address</label>
            <textarea pInputText id="address" type="text" rows="4" class="inputfield w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="city">City</label>
            <input pInputText id="city" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="state">State</label>
            <select pInputText id="state" class="w-full inputfield" style="appearance: auto">
                <option>Arizona</option>
                <option>California</option>
                <option>Florida</option>
                <option>Ohio</option>
                <option>Washington</option>
            </select>
        </div>
        <div class="field col-12 md:col-3">
            <label for="zip">Zip</label>
            <input pInputText id="zip" type="text" class="inputfield w-full">
        </div>
    </div>
</div>
-->
<!-------------------------------->
<!--
    重點是父層 有 grid
        子層 有 col-2  col-10  加總 12
-->
<!--
<div class="card">
    <h5>Advanced</h5>
    <div class="formgrid grid">
        <div class="field col-12 md:col-6 grid">
            <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name 1/2</label>
            <div class="col-12 md:col-10">
                <input pInputText id="name3" type="text" class="inputfield w-11"/>
            </div>
        </div>
        <div class="field col-12 md:col-6 grid">
            <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email 2/2</label>
            <div class="col-12 md:col-10">
                <input pInputText id="email3" type="text" class="inputfield w-11"/>
            </div>
        </div>    
        <div class="field col-12 md:col-4 grid">
            <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name 1/3</label>
            <div class="col-12 md:col-10">
                <input pInputText id="name3" type="text" class="inputfield w-11"/>
            </div>
        </div>
        <div class="field col-12 md:col-4 grid">
            <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email 2/3</label>
            <div class="col-12 md:col-10">
                <input pInputText id="email3" type="text" class="inputfield w-11"/>
            </div>
        </div>  
        <div class="field col-12 md:col-4 grid">
            <label htmlFor="emailA" class="col-12 mb-2 md:col-2 md:mb-0">AAA 3/3</label>
            <div class="col-12 md:col-10">
                <input pInputText id="emailA" type="text" class="inputfield w-11"/>
            </div>
        </div> 
        <div class="field col-12 md:col-3 grid">
            <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email 1/4</label>
            <div class="col-12 md:col-10">
                <input pInputText id="email3" type="text" class="inputfield w-11"/>
            </div>
        </div>    
        <div class="field col-12 md:col-3 grid">
            <label htmlFor="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name 2/4</label>
            <div class="col-12 md:col-10">
                <input pInputText id="name3" type="text" class="inputfield w-11"/>
            </div>
        </div>
        <div class="field col-12 md:col-3 grid">
            <label htmlFor="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email 3/4</label>
            <div class="col-12 md:col-10">
                <input pInputText id="email3" type="text" class="inputfield w-11"/>
            </div>
        </div>  
        <div class="field col-12 md:col-3 grid">
            <label htmlFor="emailA" class="col-12 mb-2 md:col-2 md:mb-0">AAA 4/4</label>
            <div class="col-12 md:col-10">
                <input pInputText id="emailA" type="text" class="inputfield w-11"/>
            </div>
        </div>
        <div class="field col-12 md:col-6">
            <label for="firstname6">Firstname</label>
            <input pInputText id="firstname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Lastname</label>
            <input pInputText id="lastname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12">
            <label for="address">Address</label>
            <textarea pInputText id="address" type="text" rows="4" class="inputfield w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="city">City</label>
            <input pInputText id="city" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="state">State</label>
            <select pInputText id="state" class="w-full inputfield" style="appearance: auto">
                <option>Arizona</option>
                <option>California</option>
                <option>Florida</option>
                <option>Ohio</option>
                <option>Washington</option>
            </select>
        </div>
        <div class="field col-12 md:col-3">
            <label for="zip">Zip</label>
            <input pInputText id="zip" type="text" class="inputfield w-full">
        </div>
    </div>
</div>
-->
<!-------------------------------->
<!--
<div class="card">
    <h5>Advanced</h5>
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="firstname6">Firstname</label>
            <input pInputText id="firstname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-6">
            <label for="lastname6">Lastname</label>
            <input pInputText id="lastname6" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12">
            <label for="address">Address</label>
            <textarea pInputText id="address" type="text" rows="4" class="inputfield w-full"></textarea>
        </div>
        <div class="field col-12 md:col-6">
            <label for="city">City</label>
            <input pInputText id="city" type="text" class="inputfield w-full">
        </div>
        <div class="field col-12 md:col-3">
            <label for="state">State</label>
            <select pInputText id="state" class="w-full inputfield" style="appearance: auto">
                <option>Arizona</option>
                <option>California</option>
                <option>Florida</option>
                <option>Ohio</option>
                <option>Washington</option>
            </select>
        </div>
        <div class="field col-12 md:col-3">
            <label for="zip">Zip</label>
            <input pInputText id="zip" type="text" class="inputfield w-full">
        </div>
    </div>
</div>
-->